#root {
  
  margin: 0 ;
  /*padding: 2rem;*/
  text-align: center;
   --gradient-color: linear-gradient(158deg,rgba(17, 26, 44, 1) 0%, rgba(27, 37, 55, 1) 50%, rgba(15, 24, 43, 1) 100%)
  ;
   --red-color: #e94560
  ;
   --blue-color: #20c6de
  ;
  --sub-text-color: #6e6e78
  ;
  display: flex;
  flex-direction: column;
}
html,body,#root{
  min-height: 100%
}

.app-shell {
min-height: 100vh;
background: linear-gradient(158deg, #111a2c 0%, #1b2537 50%, #0f182b 100%);
background-attachment: fixed;
background-size: cover;
}

p {
  color: var(--sub-text-color);
}

span {
  color: var(--blue-color);
}

header {
  margin: 0;
  width: 100%;
  
}

section {
  scroll-margin-top: 84.8px;
}