@import "tailwindcss";

@theme {
--color-red-brand: #e94560;
--color-blue-brand: #20c6de;
--color-sub-text: #6e6e78;
--background-image-gradient-color: linear-gradient(158deg, rgba(17, 26, 44, 1) 0%, rgba(27, 37, 55, 1) 50%, rgba(15, 24, 43, 1) 100%);
}




